:root {
    --primary: #DCE8CF;
    --secondary: #FCFFE3;
    --tertiary: #CFE8D2;
}

body {
    font-family: 'Press Start 2P';
}
.hidden {
    display: none;
}
button {
    background-color: var(--primary);
    border-radius: 6px;
    border: 0px;
    width: 200px;
    height: 30px;
    font-size: 10px;
    margin: 10px 0;
    cursor: pointer;
    font-family: 'Press Start 2P';
}
input {
    background-color: var(--primary);
    border-radius: 6px;
    border: 0px;
    width: 60px;
    height: 30px;
    font-size: 10px;
    margin: 10px 0;
    padding: 0px 10px;
    cursor: pointer;
    font-family: 'Press Start 2P';
}
select {
    background-color: var(--primary);
    border-radius: 6px;
    border: 0px;
    width: 120px;
    height: 30px;
    font-size: 10px;
    margin: 10px 0;
    padding: 0px 10px;
    cursor: pointer;
    font-family: 'Press Start 2P';
}

.stats {
    background-color: var(--secondary);
    padding: 1% 2%;
    border-radius: 6px;
    display: inline-block;
    position: relative;
}


/* storehouse */
.storehouse, .inventory {
    background-color: var(--primary);
    padding: 1% 2%;
    border-radius: 6px;
    display: inline-block;
    margin: 20px 20px 20px 0;
    float: left;
    height: fit-content;
}
.inventory {
    background-color: var(--tertiary);
}

/* message */
#message {
    background-color: var(--secondary);
    padding: 1% 2%;
    margin: 20px 0;
    border-radius: 6px;
    display: inline-block;
    float: left;
}
#wrapper {
    display: block;
}

/*  money */
#toggle-change-money, #toggle-shop {
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
    padding: 20px 0;
    opacity: .1;
    transition: .35s all;
    position: absolute;
    right: 20px;
    bottom: 60px;
}
#toggle-shop {
    bottom: 20px;
}
#toggle-change-money:hover, #toggle-shop:hover {
    opacity: 1;
}
#change-money, #shop {
    background-color: var(--tertiary);
    border-radius: 6px;
    padding: 20px 40px;
    width: max-content;
    position: absolute;
    z-index: 100;
    margin: 0 auto;
    width: 50%;
    overflow-x: scroll;
    box-sizing: border-box;
    left: 25%;
    top: 200px;
}
#change-money button, #change-money input {
    background-color: white;
}

/* left, right */

#left, #right {
    box-sizing: border-box;
    display: inline-block;
    width: 50%;
    float: left;
    padding: 20px;
}

/* table */
table {
    border-collapse: collapse;
    text-align: center;
    font-size: 10px;
}
table tr, td, th {
    padding: 4px 10px;
}
.blur {
    opacity: .3;
}

/* extra lol */
textarea {
    background-color: var(--primary);
    border: 0px solid;
    border-radius: 6px;
    padding: 10px;
    font-size: 12px;
    font-family: 'Press Start 2P';
}
ul {
    font-size: 14px;
    line-height: 2.0;
    margin: 0px;
}
h2 {
    font-size: 18px;
}
#message {
    font-size: 14px;
}
h4 {
    font-size: 12px;
}